/* 320px */
.header__lang-link {
  margin: 0;
  padding-left: 18px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: .8;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}