.cover__link {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  background-image: url('../../../images/__background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  display: flex;
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__link:hover::before {
  opacity: .8;
}