/* 1280px 1024px 768px */
.header__lang {
  display: flex;
  margin: 0;
  padding: 46px 0 0;
  list-style-type: none;
}

/* 320px */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang {
    padding: 30px 0 0;
  }
}