/* 1280px 1024px */
.intro__list {
  flex-direction: column;
  margin: 0;
  padding-top: 33px;
  padding-left: 0;
  max-width: 690px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  list-style-type: none;
}

/* 768px */
@media screen and (max-width: 1023px) {
  .intro__list {
    max-width: 720px;
  }
}

/* 320px */
@media screen and (min-width: 767px) {
  .intro__list {
    padding-top: 34px;
    max-width: 288px;
  }
}