/* 320px */
.intro__list {
  flex-direction: column;
  max-width: 288px;
  margin: 0;
  padding-top: 33px;
  padding-left: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  list-style-type: none;
}

/* 768px */
@media screen and (min-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
  }
}