/* 320px 768px */
.lead {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .lead {
    padding: 0 48px;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .lead {
    padding: 0 148px;
  }
}
