/* 320px */
.cover__subtitle {
  width: 288px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  z-index: 1;
}

/* 768px */
@media screen and (min-width: 768px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}