/* 320px */
.header__logo {
  max-width: 142px;
  margin: 0;
  padding: 16px 0 0;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 767px) {
  .header__logo {
    max-width: 176px;
    padding: 28px 0 0;
  }
}
