/* 1280px 1024px */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0;
  padding: 0 48px;
}

/* 768px */
@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    padding: 0 24px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    padding: 0 16px;
  }
}