/* 320px */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 16px;
}

/* 768px */
@media screen and (min-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .header {
    padding: 0 48px;
  }
}