/* 320px */
.place__paragraphs {
  margin: 0;
  padding: 0 16px;
  grid-area: paragraphs;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .place__paragraphs {
    padding: 0;
  }
}