/* 320px */
.footer__link {
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.footer__link:hover {
  opacity: .8;
  transition: opacity .5s ease-in;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}
