/* 320px */
.lead__title {
  max-width: 288px;
  text-align: center;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 16px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
}

/* 768px 1024px */
@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    padding-bottom: 32px;
    font-size: 96px;
    line-height: 100px;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .lead__title {
    padding-top: 56px;
  }
}
