/* 1280px */
.lead__title {
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 32px;
}

/* 1024px */
@media screen and (max-width: 1279px) {
  .lead__title {
    padding-top: 48px;
  }
}

/* 768px */
@media screen and (max-width: 1023px) {
  .lead__title {
   padding-top: 48px;
  }
}

/* 320px */
@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    padding-top: 48px;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}