/* 320px */
.footer__links {
  padding: 0 0 32px;
}

.footer__links:last-child {
  padding: 0;
}

/* 768px 1024px 1280px */
@media screen and (min-width: 768px) {
  .footer__links {
  padding: 0 18px 0 0;
  }
}