/* 320px */
.intro {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 288px;
  margin: 0;
  padding-top: 64px;
  padding-left: 16px;
}

/* 768px */
@media screen and (min-width: 768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    padding-left: 24px;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .intro {
    max-width: 690px;
    padding-top: 92px;
    padding-left: 48px;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .intro {
    max-width: 690px;
    padding-top: 92px;
    padding-left: 148px;
  }
}