/* 320px */
.intro {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 64px 16px 0;
}

/* 768px */
@media screen and (min-width: 768px) {
  .intro {
    padding: 88px 0 0 24px;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .intro {
    padding: 92px 0 0 148px;
  }
}