/* 1280px */
.cover {
  max-width: 1280px;
  margin: 0 auto;
  padding: 92px 0 0;
}

/* 1024px */
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}

/* 320px */
@media screen and (min-width: 320px) {
  .cover {
    max-width: 320px;
    padding: 66px 0 0;
  }
}