/* 320px */
.cover {
  margin: 0 auto;
  padding-top: 66px;
}

/* 768px */
@media screen and (min-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

/* 1024px 1028px */
@media screen and (min-width: 1024px) {
  .cover {
    padding-top: 92px;
  }
}