/* 1280px */
.header__lang-link_inactive {
  padding-right: 0;
  text-decoration: none;
}

/* 320px */
@media screen and (max-width: 320px) {
  .header__lang-link_inactive {
    font-size: 18px;
    line-height: 20px;
  }
}