/* 320px */
.photo-grid__items {
  margin: 0;
  padding: 64px 16px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 12px;
  list-style-type: none;
}

/* 768px */
@media screen and (min-width: 768px) {
  .photo-grid__items {
    padding: 88px 24px 0;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .photo-grid__items {
    padding: 92px 48px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
  }
}