/* 320px */
.lead__caption {
  margin: 0;
  padding: 8px 0 0 16px;
  text-align: start;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* 768px */
@media screen and (min-width: 768px) {
  .lead__caption {
    padding: 8px 0 0 24px;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .lead__caption {
    padding: 8px 0 0;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .lead__caption {
    padding: 8px 0 0;
  }
}