/* 1280px */
.cover__title {
  text-align: center;
  max-width: 560px;
  margin: 0;
  padding-bottom: 32px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  z-index: 1;
}

/* 320px */
@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}