/* 320px */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 64px 0 24px 16px;
}

/* 768px */
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 89px 24px 24px;
  }
}

/* 1024px 1280px */
@media screen and (min-width: 1024px) {
  .footer {
    padding: 91px 48px 24px;
  }
}