/* 1024px */
.footer {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 92px 48px 24px;
}

/* 1024px */
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 1024px;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    padding: 88px 24px 24px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: 320px;
    padding: 64px 118px 24px 16px;
  }
}