/* 1280px 1024px */
.place__url-heading {
  max-width: 456px;
  margin: 0;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* 768px */
@media screen and (max-width: 768px) {
  .place__url-heading {
    max-width: 352px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .place__url-heading {
    max-width: 288px;
  }
}