/* 320px 768px */
.place__url-heading {
  margin: 0;
  padding-bottom: 14px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aaa;
}

/* 1024px */
@media screen and (min-width: 1024px) {
  .place__url-heading {
    padding-bottom: 6px;
    line-height: 20px;
  }
}

/* 1280px */
@media screen and (min-width: 1280px) {
  .place__url-heading {
    padding-bottom: 7px;
  }
}